{% extends 'base.html.twig' %}
{% block title %}Reset your password{% endblock %}
{% block body %}
  <header>
    {{ include("navbar/navbar.html.twig") }}
  </header>
  <style>
    body {
      background-color: white !important;
      font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  </style>

  {% for flash_error in app.flashes('reset_password_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
  {% endfor %}

  <div class="container" style="padding: 2.5em;">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-6">
        <h1 class="text-center">Mot de passe oublié</h1>
        <br>
        <div class="card text-primary-emphasis bs-gray-700 mx-auto" style="max-width: 60rem; height: 30rem;">
          <div class="row d-flex justify-content-between">
            <div class="form-floating mb-2 col-md-12 mt-3">
              {{ form_start(requestForm) }} 
              <div class="form-floating mb-4 col-md-9 text-primary-emphasis mx-auto" style="margin-top: 7%;"> 
                {# text de descrition #}
                {{ form_row(requestForm.email) }}
              </div>
              <div class="text-primary-emphasis" style="text-align: center; margin-top: 10%;">
                <small>
                  Entrez votre adresse e-mail.
                </small><br>
                <small>
                  Un lien vous sera envoyé pour réinitialiser votre mot de passe.
                </small>
              </div>
            </div>
          </div>
          <div class="container" style="padding: 2.5em;  margin-top: 5%;">
            <div class="row d-flex justify-content-center">
              <div class="form-floating mb-2 col-md-10 text-center">
                <button type="submit" class="btn btn-outline-info mx-auto">Envoyer</button>
                {{ form_end(requestForm) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    {{ include("footer.html.twig") }}
  </footer>
{% endblock %}
